.forums
  .holder
    padding: 12px
    padding-bottom: 6px
    .forum-item
      margin-bottom: 14px
      border-bottom: 1px solid #eee
      &:last-child
        border-bottom: none
      .meta-right
        font-size: 12px
        float: right
        text-align: right
        strong
          font-weight: normal
          color: black
      h4
        margin-top: 0
        margin-bottom: 0