.thread
  .title
    h3
      display: inline-block
      margin: 0
      margin-left: 6px
    .topic
      font-size: 12px
      color: gray
  .controls
    margin: 10px 0
    .pagination
      float: right
      margin: 0
  .holder
    box-shadow: none
    padding: 10px
  i
    opacity: 1.0 !important