.threadPost
  h3
    margin: 0
    margin-bottom: 4px
  .holder
    padding: 12px
    margin-bottom: 12px
    .preview-divider
      border-top: 1px dashed #eee
      padding: 4px 0
  .buttons
    margin-bottom: 14px