<template name="threadPost">
  <div class="threadPost common-page">
    <h3>
      {{#if_ps "thread"}}
        {{t "Edit Thread"}}
      {{else}}
        {{t "Create a New Thread"}}
      {{/if_ps}}
      - 
      <a href="/forum/{{forum.slug}}/">{{t forum.name}}</a>
    </h3>
    <div class="holder">
      <div class="input-prepend">
        <span class="add-on">{{t "Title"}}:</span>
        <input class="span8" id="title" type="text" value="{{thread.title}}">
      </div>
      <textarea class="span10" id="body" rows="3" placeholder="{{t "Markdown is supported"}}">{{thread.body}}</textarea>
      <div class="preview-divider panel-text">Preview:</div>
      <div>
        {{#isolate}}
        {{#marked}}{{{get_ps "threadPreview"}}}{{/marked}}
        {{/isolate}}
      </div>
    </div>
    <div class="buttons">
      {{#if_ps "thread"}}
        <button class="btn btn-main save">{{t "Save Thread"}}</button>
        <button class="btn btn-main delete">{{t "Delete"}}
      {{else}}
        <button class="btn btn-main save">{{t "Post Thread"}}</button>
      {{/if_ps}}
    </div>
    {{> msg msg}}
  </div>
</template>