//Bootstrap
button.btn
  border-radius: 2px;
.btn-main 
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #CC0000;
  background-image: -moz-linear-gradient(top, #CC0000, #D64700);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CC0000), to(#D64700));
  background-image: -webkit-linear-gradient(top, #CC0000, #D64700);
  background-image: -o-linear-gradient(top, #CC0000, #D64700);
  background-image: linear-gradient(to bottom, #CC0000, #D64700);
  background-repeat: repeat-x;
  border-color: #D64700 #D64700 #802400;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  &:hover
    color: #ffffff;
    background-color: #D64700;
.modal .modal-header 
  border-bottom: 1px solid #eee;


//VexFlow
.vex-tabdiv p
  display: none