.profile-meta
  border-right 1px solid gray
  font-size 12px
  text-align right
  >div
    padding-right 10px
  ul
    list-style-type: none;
    margin 6px 0
    padding 0
  .gravatarThumb
    text-align right
    img
      border-left 4px solid gray
      &:hover
        border-left 4px solid #d9230f
  .username
    font-weight bold