<template name="userside">
  <div class="userside">
    <div>
      {{#if user}}
      <div class="gravatarThumb">
        <a href="/user/{{user.username}}"><img src="{{gravatarUrl user.email}}" /></a>
      </div>
      <div class="username">
        <a href="/user/{{user.username}}">{{user.username}}</a>
      </div>
      {{else}}
      <div class="gravatarThumb">
        <a href="javascript: void(0);" class="sign-in"><img src="https://secure.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=80" /></a>
      </div>
      <div class="username">
        <a href="javascript: void(0);" class="sign-in">{{t "Sign In"}}</a>
      </div>
      {{/if}}
    </div>
  </div>
</template>