.userside
  font-size 12px
  text-align right
  margin-bottom: 10px
  >div
    padding-right 10px
  .gravatarThumb
    text-align right
    img
      border-left 4px solid gray
      &:hover
        border-left 4px solid #d9230f
  .username
    font-weight bold